<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - Register</title>
</head>
<body>
    <form action="" method="POST">
        {% csrf_token %}
        
        {% if messages %}
            {% for message in  messages %}
              <h1>{{message}}</h1>
            {% endfor %}
        {% endif %}
            
        {{form}}
        <input type="hidden" name="next" value="{{ request.GET.next }}">
        <button type="submit">Login</button>
    </form>
</body>
</html>